.botao
{
    height: 35px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c45004;
    border-color:aliceblue;
    color:rgb(0, 0, 0);
    border-radius: 20px;
    
}
.efect_button_1{
    margin-right: 80px;
    margin-left: 80px;
    border-left: 0px;
    border-top:  0px;
    border-right: 0px;
    color:aliceblue;
    background-color: #c4510400;
    border-color:aliceblue;
    font-weight: bold;
    height: 5px;
    width: 180px;
    font-size: 170%;
}
.excluir{
    width: 120px;
    font-size: 170%;
}

.add{
    height: 45px;
    width: 45px;
    font-size: 30px;
    color: rgba(2, 0, 0, 0.781);
    font-weight: bold;
    border-radius: 40px;
    background-color: #c45104;
    border-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  
}